@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
    font-family: "DM Sans", sans-serif;
}*

#app, html, body{
    background-color: #eeeee4;
}

html{
    position: fixed;
    text-align: left;
    width: 100%;
}
@media (max-width: 768px){
    #app, html{
        z-index: 1000;
    }
}
@media (min-width: 768px){
    html{
        top: 10%;
        padding-left: 11%;
    }
}

